<button class="btn btn-primary" ng-click="showImage=!showImage">Show/Hide Image</button>
<div ng-if="showImage">
	<img ng-src="img/agilecode.png"/>
</div>
<div class="jumbotron">
		<h3>{{app}}</h3>
		
		<ui-accordions>
			<ui-accordion title="Accordion 1">
				Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 
			</ui-accordion>
			<ui-accordion title="Accordion 2">
				Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. 
			</ui-accordion>
		</ui-accordions>

		<ui-alert title="Ops, aconteceu algo errado..." ng-show="error">
			{{error}}
		</ui-alert>

		<input class="form-control" type="text" ng-model="criterioBusca" ng-model-options="{updateOn: 'blur default', 
			debounce: {default: 500, blur: 0}}">
		<table ng-show="contatos.length > 0" class="table table-bordered">
			<tr>
				<th></th>
				<th>Serial</th>
				<th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
				<th> <a href="" ng-click="ordernarPor('telefone')">Telefone</a></th>
				<th>Operadora</th>
				<th>Preço</th>
				<th>Data</th>
				<th></th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.done}" ng-repeat="contato in contatos | filter:{nome:criterioBusca} | 
				orderBy:criterioOrdenacao:direcaoOrdenacao track by contato.id" >
				<td><input type="checkbox" ng-model="contato.done" ng-click="verificarContatoSelecionado(contatos)"/></td>
				<td>{{contato.serial}}</td>
				<td>
					<a href="#/detalhesContato/{{contato.id}}">{{contato.nome | name | ellipsis}}</a>
				</td>
				<td>
					<!-- One time bind - não fica escultando mais watchers -->
					{{::contato.telefone | limitTo:4}}
				</td>
				<td>
					{{::contato.operadora.nome | lowercase}}
				</td>
				<td>
					{{::contato.operadora.precoComImposto | currency}}
				</td>
				<td>
					{{::contato.data | date: 'MMMM EEEE dd/MM/yyyy HH:mm'}}
				</td>
				<td>
					<div style="width:20px; height:20px" ng-style="{'background-color':contato.cor}"></div>
				</td>
			</tr>
		</table>
		<a class="btn btn-primary" ng-click="reset()">Reset</a>

		<button class="btn btn-danger btn-block" ng-click="removerContato(contatos)" ng-disabled="!hasContatoSelecionado">Deletar Contato</button>
		<a class="btn btn-primary" href="#/novoContato">Adicionar novo</a>
	</div>